a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.body-wrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

.icon:hover {
    color: rebeccapurple;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    font-weight:400;
    /* Margin bottom by footer height */
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    height: 10rem;
}

.home_main_container {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("BACK.png");
    background-size: 100% 100%;
}
.home_main_buttons {
    margin-top: 47vh;
    width: 80vh;
    justify-content: space-between;
    display: flex;
}
.gender_btn {
    width: 24vh;
    height: 8vh;
    background-color: white;
    color: rebeccapurple;
    border: none;
    border-radius: 1000px;
}

    .gender_btn:hover, .gender_btn::after, .gender_btn::before {
        width: 24vh;
        height: 8vh;
        background-color: rebeccapurple;
        color: white;
        border-radius: 1000px;
        border: none;
        text-decoration: none;
    }
    .gender_btn > a {
        color: white;
    }
    .gender_btn > a:hover {
        color:white;
        text-decoration: none;
    }
    .search_input {
        margin-left: 16rem;
        width: 35rem;
        height: 2rem;
        border-radius: 100px;
    }
.search_submit, .search_submit::after {
    border: none;
    outline: none;
}

    .search_submit > i {
        color: purple;
        outline: none;
    }
        .search_submit > i:hover {
            color: rebeccapurple;
        }

.sign_in {
    margin-right: 3rem;
}

    .sign_in > i {
        color: rebeccapurple;
    }

.navbar {
    height: 3rem;
    margin-top: 0.2rem;
}
.collapse navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-top {
    padding: 18px 0 14px;
}

.site-logo-wrapper {
    height: auto;
    margin: auto;
}
.site-logo, .site-logo:hover {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: black;
    width: auto;
    height: 1rem;
}
    .site-logo:hover {
        color: rebeccapurple;
    }


.header-search-form {
    width: 100%;
    position: relative;
    padding: 0 10px;
}
    .header-search-form input, .header-search-form > input:focus {
        width: 100%;
        height: 2.1rem;
        font-size: 14px;
        border-radius: 50px;
        border: none;
        outline: none;
        background: #f0f0f0;
        padding:0 15px;
        border: 1px solid black;
    }
    .header-search-form > input:focus {
        background: #fff;
        border: 2px solid black;
    }
    .header-search-form button {
        position: absolute;
        height: 100%;
        right: 15px;
        top: 0px;
        font-size: 20px;
        color: #000;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
.user-panel {
    width: 100%;
}

    .user-panel .up-item, .up-item::after {
        display: inline-block;
        font-size: 18px;
        text-decoration: none;
    }

        .user-panel .up-item i {
            font-size: 22px;
            text-decoration: none;
        }

.up-item:hover {
    color: rebeccapurple;
}
.user-panel .up-item a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.user-panel .up-item:first-child {
    margin-right: 2rem;
    text-decoration: none;
}

/*cards*/
.shopping-card {
    display: inline-block;
    position: relative;
}

    .shopping-card span {
        position: absolute;
        top: -4px;
        left: 100%;
        height: 16px;
        min-width: 16px;
        color: #fff;
        font-size: 13px;
        background: #f51167;
        text-align: center;
        border-radius: 30px;
        padding: 0 2px;
        margin-left: -7px;
    }
    /*navbar*/

.main-navbar {
    background: #282828;
}

.slicknav_menu {
    display: none;
}

.main-menu {
    list-style: none;
    margin:0;
}

main-menu ul {
    margin: 0;
}
.main-menu li {
    display: inline-block;
    position: relative;
}

    .main-menu li a {
        display: inline-block;
        font-size: 16px;
        color: #ffffff;
        margin-right: 50px;
        line-height: 1;
        padding: 17px 0;
        position: relative;
    }
        .main-menu li a .new {
            position: absolute;
            top: -8px;
            font-size: 10px;
            font-weight: 700;
            color: #fff;
            background: #f51167;
            line-height: 1;
            text-transform: uppercase;
            left: calc(50% - 21px);
            padding: 5px 9px 1px;
            border-radius: 15px;
            width: 42px;
            text-decoration: none;
        }
    .main-menu li:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
        text-decoration: none;
    }

    .main-menu li:hover > a {
        color: rebeccapurple;
        text-decoration: none;
    }
.main-menu .sub-menu {
    position: absolute;
    list-style: none;
    width: 220px;
    left: 0;
    top: 100%;
    padding: 20px 0;
    visibility: hidden;
    opacity: 0;
    margin-top: 50px;
    background: #fff;
    z-index: 99;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

    .main-menu .sub-menu li {
        display: block;
    }

        .main-menu .sub-menu li a {
            display: block;
            color: #000;
            margin-right: 0;
            padding: 8px 20px;
        }

            .main-menu .sub-menu li a:hover {
                color: #f51167;
            }

.main {
    height: 100vh;
}

.footer-section {
    background: #282828;
    margin:0;
}

.footer-logo {
    text-decoration: none;
    color: rebeccapurple;
    padding: 1rem 0;
    display: flex;

}
.logo-name {
    font-size: 20px;
    width: 2rem;
    height: 2rem;
}

.footer-widget {
    margin-bottom: 2rem;
    overflow: hidden;
}
    .footer-widget h2 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 2rem;
    }

    .footer-widget p {
        color: #8f8f8f;
    }

    .footer-widget.about-widget p {
        margin-bottom: 2rem;
        letter-spacing: -0.01em;
    }

    .footer-widget ul {
        list-style: none;
        float: left;
        margin-right: 37px;
    }
        .footer-widget ul:last-child {
            margin-right: 0;
        }

        .footer-widget ul li a {
            display: inline-block;
            position: relative;
            padding-left: 20px;
            font-size: 14px;
            color: #8f8f8f;
            margin-bottom: 2rem;
        }

            .footer-widget ul li a:after {
                position: absolute;
                content: "";
                width: 5px;
                height: 5px;
                left: 0;
                top: 8px;
                border: 1px solid #ec105a;
                border-radius: 50%;
                -webkit-transition: all 0.2s;
                -o-transition: all 0.2s;
                transition: all 0.2s;
            }
            .footer-widget ul li a:hover {
                color: #fff;
            }

.footer-logo {
    font-size: 50px;
    text-decoration: none;
    color: rebeccapurple;
}
.footer-widget ul li a:hover:after {
    width: 7px;
    height: 7px;
    top: 6px;
    background: #ec105a;
}

.fw-latest-post-widget .lp-item {
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
}
.fw-latest-post-widget .lp-thumb {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 22px;
}

.fw-latest-post-widget .lp-content {
    overflow: hidden;
    padding-top: 2px;
}
    .fw-latest-post-widget .lp-content h6 {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0.25;
        color: #717171;
        margin-bottom: 1px;
    }

    .fw-latest-post-widget .lp-content span {
        display: block;
        font-size: 12px;
        color: #8f8f8f;
        margin-bottom: 4px;
    }
    .fw-latest-post-widget .lp-content .readmore {
        font-size: 12px;
        color: #f51167;
    }

.contact-widget .con-info span {
    float: left;
    color: #f51167;
    margin-right: 15px;
    overflow: hidden;
}

.social-links-warp {
    border-top: 2px solid #3b3535;
    padding: 46px 0;
}

.social-links a {
    margin-right: 60px;
    display: inline-block;
}

    .social-links a:last-child {
        margin-right: 0;
    }

    .social-links a i {
        font-size: 30px;
        color: #d7d7d7;
        float: left;
        margin-right: 19px;
        overflow: hidden;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .social-links a span {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #9f9fa0;
        padding-top: 10px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .social-links a.instagram:hover i {
        color: #2F5D84;
    }

    .social-links a.google-plus:hover i {
        color: #E04B37;
    }

    .social-links a.twitter:hover i {
        color: #5abed6;
    }

    .social-links a.pinterest:hover i {
        color: #CD212D;
    }

    .social-links a.facebook:hover i {
        color: #39599F;
    }

    .social-links a.twitter:hover i {
        color: #5abed6;
    }

    .social-links a.youtube:hover i {
        color: #D12227;
    }

    .social-links a.tumblr:hover i {
        color: #37475E;
    }

    .social-links a:hover span {
        color: #fff;
    }

/* --------------
  Other Pages
------------------*/

.page-top-info {
    background: #f8f7f7;
    padding: 60px 0 70px;
}

    .page-top-info h4 {
        color: #414141;
        font-weight: 700;
        text-transform: uppercase;
    }

.site-pagination {
    font-size: 14px;
    font-weight: 600;
    color: #414141;
}

    .site-pagination a {
        display: inline-block;
        font-size: 14px;
        color: #414141;
    }


/* --------------
  Shop Pages
------------------*/
ul {
    padding: 0;
}

.list-wrapper {
    margin: 2rem 0;
}

.categories-header {
    text-align: center;
    margin-bottom: 1rem;
}

.categories-list {
    list-style: none;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
    width:100%;
}

    .categories-list li, .categories-list a {
        text-decoration: none;
        text-align: center;
        margin-bottom: 1rem;
        transform: translate();
        color: black;
        border-radius: 100px;
        width: 100%;
    }

        .categories-list li:hover {
            font-size: 20px;
            transition: 1s;
        }

.slider-container {
    margin: 4rem 0;
}

    .slider-container input {
        margin: auto;
        width: 100%;
    }

.card {
    border: 2px solid black;
}
.about-widget {
    color: #8F8F8F;
}
.footer-icon {
    color: #8F8F8F;
}
.footer-icon:hover{
    color: rebeccapurple;
}

.cart-image{
    width: 100px;
    height: 100px;
}
.footer-button .footer-button:hover .footer-button::after {
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.footer_section_container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:100vh;
    background-image:url("../css/footerBACK1.png");
    background-size:100% 100%;
}
.footer-description{
    text-align:center;
    font-size:1.5rem;
    font-weight:600;
    width:80%;
}
.footer-header{
    font-weight:900;
    margin:5rem auto;
}
.logo-name-top{
    font-weight:600;
    margin-left:1rem;
}
.category-section{
    margin:2rem;
}
.filter-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories-header-shop{
    margin-bottom:2rem;
}
.cart-section {
    width: 100%;
    height: 100vh;
    margin: 2rem;
}
.product-section {
    width: 100%;
    height: 100vh;
    margin: 2rem;
}
.footer-logo text-center{
    padding:0;
}
.footer-but{
    text-decoration:none;
    color:white;
}
.footer-but:hover {
    text-decoration: none;
    color: rebeccapurple;
}
.flaticon-search{
    width:1rem;
    height:1rem;
}
.thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../css/footerBACK1.png");
    background-size: 100% 100%;
}
/*LOGIN REGISTER*/

.sign-in, .signup {
    display:flex;
    flex-direction:column;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    margin-top:1rem;
}

.form-title {
    text-align: center;
    margin-bottom: 2rem;
}

.register-form {
    border: 1px solid purple;
    padding: 10px;
    box-shadow: 5px 5px 10px;
    width: 30%;
    height: 40%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.form-group {
    position: relative;
    padding-bottom: 25px;
    overflow: hidden;
    text-align: left;
}

    .form-group:last-child {
        margin-bottom: 0px;
    }

input {
    outline: none;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
    margin: auto;
}

    input[type="submit"] {
        border-radius: 100px;
        width: 45%;
        background: purple;
        margin: auto;
    }

.signin-image {
    text-align: center;
    margin: 24px 0 12px 0;
    width: 10rem;
    height: 10rem;
}

label {
    position: absolute;
    text-align: left;
    font-size: 22px;
}

.label-agree-term {
    font-size: 12px;
}
