@model TerminalY.Models.Admin

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin";
}

<div id="myMap" style='position:relative;width:600px;height:400px;'></div>
<script type='text/javascript'>
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap');

        //Add your post map load code here.
    }
</script>