@model TerminalY.Models.Product

@{
    ViewData["Title"] = "Details";
}


<section class="product-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    @if (Model.Image != null)
                    {
                     <img src="@Model.Image" height="550" width="400"/>
                    }
                </div>
            </div>
            <div class="col-lg-6 product-details">
                <h2 class="p-title">@Html.DisplayFor(model => model.Name)</h2>
                <h3 class="p-price">$@Html.DisplayFor(model => model.Price),00</h3>
                <h4 class="p-stock">Available: <span>In Stock</span></h4>
                <form id="AddProductToCart">
                    <input hidden id="productId" name="productId" type="text" value="@Model.Id">
                    <div class="quantity row">
                        <p class="col-2">Quantity</p>
                        <div class="col-4"><input id="quantity" name="quantity" type="text" value="1"></div>
                    </div>
                    <div class="add-container">

                        <p class="product-decription">@Html.DisplayFor(model => model.Description).</p>
                        <input type="submit" value="Add to cart" class="add-btn site-btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
