@{
    ViewData["Title"] = "About Us";
}

<div class="footer_section_container container">
    <h2>ABOUT US</h2>
    <p>
        Terminal Y is a fitness apparel & accessories brand and online retailer based in Israel, supported by millions of highly engaged social media followers and customers.<br /><br />

        Be all that you imagined you could be.
    </p>
</div>
