
@{
    ViewData["Title"] = "Careers";
}

<div class="footer_section_container container">
    <h2>CAREERS</h2>
    <p>Come work with us! <br /><br />If you think you are fit to our growing company and like sport like us send us your CV via email.<br /> <br />terminaly@test.com</p>
</div>
