
@{
    ViewData["Title"] = "Careers";
}

<div class="footer_section_container container">
    <h2 class="footer-header">Careers</h2>
    <p class="footer-description">Come work with us! <br /><br />If you think you are fit to our growing company and like sport like us send us your CV via email.</p>
    <div class="multiple_column">
        <p class="p_careers">terminaly@test.com</p>
        <p class="p_careers">054-2032259</p>
        <p class="p_careers">Atir Yeda 9, Hod HaSharon</p>
    </div>
</div>