
@{
    ViewData["Title"] = "Delivery";
}

<div class="footer_section_container container">
    <h2>DELIVERY INFORMATION</h2>
    <p>In the unlikely event that you do not recieve your order after the stated delivery timeframe, please contact us as soon as you are aware and no longer than 7 days from the delivery date stated on your tracking.</p>
</div>
