@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="home_main_container">
        <div class="home_main_buttons">
            <button class="shop_men btn-light gender_btn btn">Men<a asp-action="Shop" asp-controller="Categories" asp-route-id="1"></a></button>
            <button class="shop_women btn-light gender_btn btn">Women<a asp-action="Shop" asp-controller="Categories" asp-route-id="1"></a></button>
        </div>
    </div>
</body>
