@{
    ViewData["Title"] = "Home Page";
}

<div class="home_main_container container">
    <a asp-action="Shop" asp-controller="Categories" asp-route-id="1"><h1 class="main-header-home">Start your journey here .</h1></a>
    <video autoplay muted loop id="myVideo">

        <source src="./css/video.mp4" type="video/mp4" >
    </video>
</div>
