@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="home_main_container">
        <div class="home_main_buttons">
            <button class="shop_men btn-light gender_btn btn">shop men</button>
            <button class="shop_women btn-light gender_btn btn">shop women</button>
        </div>
    </div>
</body>
