@model IEnumerable<TerminalY.Models.Product>

@{ ViewData["Title"] = "Shop"; }

<div class="container">
    <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
        <div class="row" id="tbody">
<<<<<<< HEAD
=======
            @foreach (var product in Model)
            {
>>>>>>> 5ec5ebbf94a0829c7d07253e0e7fa1f3da80928b
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="items-list">
                            @foreach (var product in Model)
                            {
<<<<<<< HEAD
                <div class="card">

                </div>}
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 order-2 order-lg-1 list-wrapper">
                <div class="categories-header">
                    <h3>Categories</h3>
                </div>
                <ul class="categories-list">
                    <li>
                        <a href="#home"><span>Shorts</span></a>
                    </li>
                    <li>
                        <a href="#anch1" data-scroll>
                            <span>T-Shirts</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch2" data-scroll>
                            <span>Tights</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch3" data-scroll>
                            <span>Sleeveless</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch4" data-scroll>
                            <span>Shoes</span>
                        </a>
                    </li>
                </ul>

                <div class="slider-container">
                    <input class="slider" type="range" min="1" max="1000" value="1000">
                    <p>Price: <span id="price"></span>$</p>
                </div>
                <script>
                    var slider = document.querySelector(".slider");
                    var output = document.getElementById("price");
                    output.innerHTML = slider.value;

                    slider.oninput = function () {
                        output.innerHTML = this.value;
                    }
                </script>
            </div>

        </div>
    </div>
</div>
=======
                                <div class="card">

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
                            <div class="col-lg-3 order-2 order-lg-1 list-wrapper">
                                <div class="categories-header">
                                    <h3>Categories</h3>
                                </div>
                                <ul class="categories-list">
                                    <li>
                                        <a href="#home"><span>Shorts</span></a>
                                    </li>
                                    <li>
                                        <a href="#anch1" data-scroll>
                                            <span>T-Shirts</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#anch2" data-scroll>
                                            <span>Tights</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#anch3" data-scroll>
                                            <span>Sleeveless</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#anch4" data-scroll>
                                            <span>Shoes</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="slider-container">
                                    <input class="slider" type="range" min="1" max="1000" value="1000">
                                    <p>Price: <span id="price"></span>$</p>
                                </div>
                                <script>
                                    var slider = document.querySelector(".slider");
                                    var output = document.getElementById("price");
                                    output.innerHTML = slider.value;

                                    slider.oninput = function () {
                                        output.innerHTML = this.value;
                                    }
                                </script>
                            </div>

                        </div>
                    </div>
>>>>>>> 5ec5ebbf94a0829c7d07253e0e7fa1f3da80928b
