<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-search-pseudo-elements></script>


</head>
<body>
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left site-logo-wrapper">
                        <a asp-action="Index" asp-controller="Home" class="site-logo">
                            <i class="fas fa-dumbbell logo icon"></i>
                            <span>TerminalY</span>
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <form asp-action="SearchProducts" asp-controller="Products" class="header-search-form">
                            <input name="term" id="searchBox" type="text" placeholder="Search for product ....">
                            <button><i class="material-icons icon" style="font-size:20px;">search</i></button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="user-panel">
                            @{ var name = Context.User.Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
                                if (name != null)
                                {
                                    <div class="up-item">
                                        <i class="flaticon-profile icon"></i>
                                        <span>@name</span>
                                    </div>
                                    <div class="up-item">
                                        <div class="shopping-card">
                                            <i class="flaticon-bag icon"></i>
                                            @*<span>0</span>*@
                                        </div>
                                        <a asp-action="CartDetails" asp-controller="Carts">Shopping Cart</a> &nbsp; &nbsp;
                                    </div>
                                    <div class="up-item">
                                        <i class="flaticon-logout icon"></i>
                                        <a asp-action="LogOut" asp-controller="Accounts">Log Out</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="up-item">
                                        <a asp-action="Login" asp-controller="Accounts"><i class="fas fa-user-circle icon"></i></a>
</div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <!-- menu -->
                <ul class="main-menu">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li>
                        <a asp-action="Store" asp-controller="Categories" asp-route-id="1">Store</a>
                        <!--<ul class="sub-menu">-->
                        @*<li><a href="#">Outdoors and Camping</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Baby Essentials</a></li>
                            <li><a href="#">Convenience</a></li>
                            <li><a href="#">Sports Accessories</a></li>*@
                        <!--</ul>-->
                    </li>
                    <li><a asp-action="AboutUs" asp-controller="Home">About us</a></li>
                    <li><a asp-action="Contact" asp-controller="Contacts">Contact us</a></li>
                    @{ var role = Context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;
                        if (role == "Admin")
                        {
                            <li><a asp-action="Tables" asp-controller="AdminPanels">Admin Panel</a></li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </header>
    <!--   <header class="header-section">
           <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="container-fluid">
                   <i class="logo fas fa-dumbbell"></i>
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                       <form class="d-flex">
                           <input class="form-control me-2 search_input" type="search" placeholder="Search" aria-label="Search">
                           <button class="btn search_submit" type="submit"><i class="material-icons" style="font-size:20px;">search</i></button>
                       </form>
                   </div>
                   <a href="#" class="sign_in"><i class="fas fa-user-circle"></i></a>
               </div>
           </nav>
       </header>
        -->
    <div class="container">
        <main role="main" class="body-wrapper pb-3">
            @RenderBody()
        </main>
    </div>

    <section class="footer-section">
        <div class="container">
            <div class="footer-logo text-center">
                <a asp-action="Index" asp-controller="Home">
                       <!--     <div class="footer-logo">
                                <i class="fas fa-dumbbell logo icon"></i>
                                <span>TerminalY</span>
                            </div> -->
                </a>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>About</h2>
                        <p>Selling innovative and life-changing products while maintaining and protecting our customers.</p>
                        <img src="~/img/cards.png" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Legal responsibility</h2>
                        <p>Our site is an open trading platform for third party buyers who are interested in marketing their products from around the world to consumers in the Israeli market, LCP is not the manufacturer of the products sold on the site. Although we work to ensure that the product information on our site is accurate, manufacturers may not be accurate or change the information they decide to list on the product page.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Legal responsibility</h2>
                        <p>Our site is an open trading platform for third party buyers who are interested in marketing their products from around the world to consumers in the Israeli market, LCP is not the manufacturer of the products sold on the site. Although we work to ensure that the product information on our site is accurate, manufacturers may not be accurate or change the information they decide to list on the product page.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Like Our Facebook Page</h2>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F%D7%99%D7%95%D7%A1%D7%99-%D7%A1%D7%A8%D7%95%D7%A8-%D7%94%D7%A2%D7%9E%D7%95%D7%93-%D7%94%D7%A8%D7%A9%D7%9E%D7%99-314341605272549&width=140&layout=button_count&action=like&size=large&share=true&height=46&locale=en_US&appId"
                                width="155"
                                height="46"
                                style="border:none;overflow:hidden"
                                scrolling="no"
                                frameborder="0"
                                allowTransparency="true"
                                allow="encrypted-media">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
